<%- include('header'); -%>


<main>
    <body>
    <div class="container mt-5">
        <h1>Search Results</h1>
        <% if (products.length > 0) { %>
            <div class="row">
                <% products.forEach(product => { %>
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="https://via.placeholder.com/150" class="card-img" alt="<%= product.name %>">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title"><span style="color: white;"><%= product.name %></span></h5>
                                        <p class="card-text"><%= product.description %></p>
                                        <p class="card-text"><small class="text-muted"><span style="color: white;">Price: $<%= product.price %></span></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p>No products found matching your search criteria.</p>
        <% } %>
    </div>
</body>
</main>

<%- include('footer'); -%>


